<footer style="background-image: url('{{ url_for('static', filename='img/gallery/footer-bg.png') }}');">
    <div class="footer-wrappr section-bg3">
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="footer-copy-right">
                                <p>© 2025 HealthSense - All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>